@model FinReconcile.Models.CompareResult

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="container">
       @Html.Partial("CompareResultPartial", Model)
        <div class="row text-center">
            @if (Model.UnmatchedClientRecords > 0 || Model.UnmatchedTutkaRecords>0)
            {
                <a class="btn btn-primary" href="@Url.Action("UnmatchedReport","Transaction",new { sid = Request.QueryString["sid"], cfn = Request.QueryString["cfn"], tfn = Request.QueryString["tfn"] })">Unmatched Report</a>
            }            
        </div>
    </div>
</div>
