@model FinReconcile.Models.CompareModel
@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("compare","transaction",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            @Html.AntiForgeryToken()
            <div class="container main-content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Compare Files</div>
                    <div class="panel-body">                       
                            <div class="form-group">
                                <div class="row">
                                    <label for="inputFile1" class="col-md-3 control-label">Select Client File 1</label>
                                    <div class="col-md-4">
                                        <input type="file" name="clientMarkOffFile" />
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        @Html.ValidationMessageFor(model => model.ClientMarkOffFile)
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="inputfile2" class="col-md-3 control-label">Select Bank File 2</label>
                                    <div class="col-md-4">
                                        <input type="file" name="bankMarkOfffile" />
                                    </div>
                                    <div class="col-md-3 text-danger">
                                        @Html.ValidationMessageFor(model => model.BankMarkOfffile)
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-default">Compare</button>
                                    </div>
                                </div>
                            </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>


    </div>
}



