<div class="jumbotron">
    <h1>FinReconcile App</h1>
    <p class="lead">This is an application which can be used to reconcile two sets of finacial records to ensure figures are correct and in agreement</p>
    <p><a href="/transaction/compare" class="btn btn-primary btn-lg">Start Reconcile &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>BDD specs</h2>
        <p>This application is developed using ASP.NET MVC,C# ,Bootstrap etc using BDD and deployed on Microsoft Azure.You can browse BDD specs here </p>
        <p><a class="btn btn-default" href="http://finreconcile.azurewebsites.net/docs/index.html">Browse specs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RuleEngine</h2>
        <p>An Integral part of this application is the main Rule engine.RuleEngine allows you to define custom rules to match/unmatch transactions </p>
        <p><a class="btn btn-default" href="https://github.com/rohithkrajan/FinReconcile/wiki/Rule-Engine">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wiki and Code</h2>
        <p>This application code is open source and is available in github.</p>
        <p><a class="btn btn-default" href="https://github.com/rohithkrajan/FinReconcile">Browse wiki &raquo;</a></p>
    </div>
</div>
